#nav1{
    /* align-self: center; */
    background-color: black;
    /* text-decoration: red; */
    color: blue;
    /* : 30px; */
    border-left: 20px;
    width:930px;
}
#next{
    width: 540px;
}
#new{
    border: 2px solid red;
    width: 300px;
    word-wrap:break-word;
    color: blue;
}